@media (max-width: 375px) {
.container{
    height: 100%;
    background-image: url(../images/pattern-background-mobile.svg);
}

  .container .card {
    max-width: 325px;
    padding: 0 20px 25px;
  }
  .card .title {
    margin-top: 185px;
    font-size: 2rem;
  }
  .card .text {
    padding: 0 15px;
    font-size: 1.35rem;
    letter-spacing: .7px;
  font-weight: 700;
  line-height: 25px;
  }

  .card .plan {
    padding: 15px 10px;
  }

  .card .plan .chosen-plan {
    padding-right: 40px;
    font-size: 1.4rem;
  }

  .plan .change {
    font-size: 1.2rem;
  }
}
